<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>TestCom</display-name>
    <servlet-name>TestCom</servlet-name>
    <servlet-class>com.cabintechglobal.testplatform.TestCom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestCom</servlet-name>
    <url-pattern>/TestCom</url-pattern>
  </servlet-mapping>
  <display-name>CT3680TestPlatformUI</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TestDiagnostics</display-name>
    <servlet-name>TestDiagnostics</servlet-name>
    <servlet-class>com.cabintechglobal.testplatform.TestDiagnostics</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestDiagnostics</servlet-name>
    <url-pattern>/TestDiagnostics</url-pattern>
  </servlet-mapping>
</web-app>